@tailwind base;

* {
  scrollbar-width: thin;
  scrollbar-color: rgba(112, 25, 112, 0.486);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.438);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(128, 128, 128, 0.438);
  border-radius: 20px;
  border: 2px solid rgba(112, 25, 112, 0.486);
}

@tailwind components;
@tailwind utilities;
