@tailwind base;

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.144);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.747);
  border-radius: 20px;
}

@tailwind components;
@tailwind utilities;
