@tailwind base;

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0.144);
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(150, 150, 150, 0.747);
  border-radius: 20px;
}

itemName {
   color: #60a5fa;
   padding-bottom: 2rem;
   font-weight: bold;
}

mainText: {
  font-family: 'Roboto';
}

stats {
  padding-bottom: 2rem;
  font-weight: bold;
}

li {
  list-style-type: none;
}

passive {
  color: #d97706;
  font-weight: bold;
}

@tailwind components;
@tailwind utilities;
